
h1{
    font-family: 'VT323', monospace;
    color: white;  
    font-size: 90px;  
    text-shadow: 2px 2px 5px black;
}
.beginTitle{
    text-decoration: underline ;
    text-decoration-style: dashed; 
}
.mainPage {
    background: url(../assets/10998922.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    background-attachment: scroll;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
}

.otherPage {
    background: url(../assets/4003568.webp) no-repeat center center fixed;
    -webkit-background-size: cover;
    background-attachment: scroll;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
   
}

.bot{
    text-align: center;
    font-family: 'VT323', monospace;
    color: white;
    text-shadow: 2px 2px 5px none;
    font-size: larger;

}

.buttonpag7 {
    background-color: rgb(135, 179, 203); /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    box-shadow: 10px 10px black;
    font-size: 20px;
    font-family: 'VT323', monospace;
    text-shadow: 2px 2px 5px black;
}

img {
    width: 200px;
    padding-right: 2rem;
    border-radius: 12px;
    shape-image-threshold: 2px 2px 5px black;
}

.modal-body{
    padding: 2rem;
}

h3{
    font-family: 'VT323', monospace;
}



h2{
    font-family: 'VT323', monospace;
    font-size: 26px;
}
button{
    font-family: 'VT323', monospace;
    background-color: clear;
   
}
.btn-primary{
    background-color: transparent;
    color: white;
    border-color: transparent;
    font-size: 27px;
    text-shadow: 2px 2px 5px black;

}


.buttonIndex {
    background-color: rgb(166, 45, 110); /* Green */
    width: justify;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    box-shadow: 10px 10px black;
    font-size: 29px;
    font-family: 'VT323', monospace;
    text-shadow: 2px 2px 5px black;
}


.subtitle1 {
    justify-content: center;
    text-align: start;
    display: grid;
    border: 1px solid black;
    height: auto;
    
    color: white;
    font-size: 40px;
    font-family: 'VT323', monospace;
    box-shadow: 10px 10px rgb(135, 179, 203);
    text-shadow: 2px 2px 5px black;
 
    height: auto;
    padding: 20px;
    /* margin: 15px 0px 15px 350px; */
    background-color: rgba(0, 0, 0, .7);
    background-repeat: no-repeat;
    background-size: 10%;
    background-position-x: 450px;
    background-position-y: 15px;
}

.buttonpag1 {
    background-color: rgb(103, 16, 103); 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    box-shadow: 10px 10px black;
    font-size: 21px;
    font-family: 'VT323', monospace;
    text-shadow: 2px 2px 5px black;
}

body{
    padding: 3rem;
}

#staticBackdropLabel{
    font-size: 60px;
}

.btn-secondary{
    background-color: black;
    color: white;
    font-size: larger;
}


/*  ULISES  ULISES ULISES ULISES ULISES ULISES ULISES ULISES ULISES ULISES ULISES ULISES ULISES */
.iframe-container{
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; 
    height: 0;
  }
  .iframe-container iframe{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .buyme
  {
    text-align: center;
    font-weight: bold;
  }

    .nob{
    list-style-type: none;
   }