.mainPage {
    background: url(../assets/10998922.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    background-attachment: scroll;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 110vh;
}

img {
    width: 200px;
    padding: 1rem;
}
h2{
    font-family: 'VT323', monospace;
}
button{
    font-family: 'VT323', monospace;
    background-color: clear;
}
.btn-primary{
    background-color: transparent;
    color: white;
    border-color: transparent;
}


.subtitle1 {
    justify-content: center;
    display: grid;
    border: 1px solid black;
    height: auto;
    width: 700px;
    color: white;
    font-size: 30px;
    font-family: 'Orbitron', sans-serif;
    box-shadow: 10px 10px darkorchid;
    text-shadow: 2px 2px 5px black;
 
    height: auto;
    padding: 20px;
    /* margin: 15px 0px 15px 350px; */
    background-color: rgba(0, 0, 0, .7);
    background-image: url("../images/alien.png");
    background-repeat: no-repeat;
    background-size: 10%;
    background-position-x: 450px;
    background-position-y: 15px;
}

body{
    padding: 5rem;
}
.subtitle1 {
    justify-content: center;
    display: grid;
    border: 1px solid black;
    height: auto;
    width: 500px;
    color: white;
    font-size: 30px;
    font-family: 'Orbitron', sans-serif;
    box-shadow: 10px 10px darkorchid;
    text-shadow: 2px 2px 5px black;
 
    height: auto;
    padding: 20px;
    /* margin: 15px 0px 15px 350px; */
    background-color: rgba(0, 0, 0, .7);
    background-image: url("../images/alien.png");
    background-repeat: no-repeat;
    background-size: 10%;
    background-position-x: 450px;
    background-position-y: 15px;
}
.btn-secondary{
    background-color: rgb(203, 203, 73);
}