
h1{
    font-family: 'VT323', monospace;
    color: white;  
    font-size: 90px;  
    text-shadow: 2px 2px 5px black;
}
.mainPage {
    background: url(../assets/10998922.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    background-attachment: scroll;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
}

.otherPage {
    background: url(../assets/4003568.webp) no-repeat center center fixed;
    -webkit-background-size: cover;
    background-attachment: scroll;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 130vh;
}

.bot{
    text-align: center;
    font-family: 'VT323', monospace;
    color: black;
    text-shadow: 2px 2px 5px none;
}

img {
    width: 200px;
    border-color: black;
    border: 5px solid black;"
    border-spacing: 2rem;
    
}

.Textt{
padding-left: 7rem;
text-align: center;
text-shadow: 2px 2px 5px black;
}

h2{
    font-family: 'VT323', monospace;
    text-shadow: 2px 2px 5px black;
}
button{
    font-family: 'VT323', monospace;
    background-color: clear;
    text-shadow: 2px 2px 5px black;
}
.btn-primary{
    background-color: transparent;
    color: white;
    border-color: transparent;
    font-size: 27px;
    text-shadow: 2px 2px 5px black;

}

.buttonIndex {
    background-color: rgb(166, 45, 110); /* Green */
    width: justify;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    box-shadow: 10px 10px black;
    font-size: 16px;
    font-family: 'VT323', monospace;
    text-shadow: 2px 2px 5px black;
}


.subtitle1 {
    justify-content: center;
    text-align: start;
    display: grid;
    border: 1px solid black;
    height: auto;
    
    color: white;
    font-size: 40px;
    font-family: 'VT323', monospace;
    box-shadow: 10px 10px rgb(135, 179, 203);
    text-shadow: 2px 2px 5px black;
 
    height: auto;
    padding: 20px;
    /* margin: 15px 0px 15px 350px; */
    background-color: rgba(0, 0, 0, .7);
    background-repeat: no-repeat;
    background-size: 10%;
    background-position-x: 450px;
    background-position-y: 15px;
}

.buttonpag1 {
    background-color: rgb(103, 16, 103); 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    box-shadow: 10px 10px black;
    font-size: 16px;
    font-family: 'VT323', monospace;
    text-shadow: 2px 2px 5px black;
}

body{
    padding: 5rem;
}

.btn-secondary{
    background-color: rgb(203, 203, 73);
}

/*  ULISES  ULISES ULISES ULISES ULISES ULISES ULISES ULISES ULISES ULISES ULISES ULISES ULISES */
.